<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>StarWars - @ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/StarWars.styles.css" asp-append-version="true" />
	<link href="~/lib/bootstrap/dis/css/bootstrap.css" />
	<link href="c:\users\jesús\source\repos\starwars\wwwroot\lib\bootstrap\dist\css\bootstrap.rtl.min.css" rel="stylesheet" />
	<link href="c:\users\jesús\source\repos\starwars\wwwroot\lib\bootstrap\dist\css\bootstrap.rtl.css" rel="stylesheet" />
</head>
<body class="">
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 fondo-nav">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><p class="titulo-nav">STAR WARS</p></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<div class="dropdown espacio">
								<button class="botones estado dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Planetas
								</button>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" asp-controller="Planet" asp-action="Index">Ver todos los planetas</a></li>
									<li><a class="dropdown-item" asp-controller="Planet" asp-action="CreateANewPlanet">Crea tu nuevo planeta</a></li>
									<div class="dropdown">
										<button class="botones estado dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
											Mostrar Climas
										</button>
										<ul class="dropend-menu">
											<li><a class="dropdown-item" asp-controller="Planet" asp-action="ClimateView" asp-route-nameClimate="Bosque">Bosque</a></li>
											<li><a class="dropdown-item" asp-controller="Planet" asp-action="ClimateView" asp-route-nameClimate="Desierto">Desierto</a></li>
											<li><a class="dropdown-item" asp-controller="Planet" asp-action="ClimateView" asp-route-nameClimate="Nieve">Nieve</a></li>
											<li><a class="dropdown-item" asp-controller="Planet" asp-action="ClimateView" asp-route-nameClimate="Action">Action</a></li>
											<li><a class="dropdown-item" asp-controller="Planet" asp-action="ClimateView" asp-route-nameClimate="Desconocido">Desconocido</a></li>
											<li><a class="dropdown-item" asp-controller="Planet" asp-action="ClimateView" asp-route-nameClimate="Nubloso">Nubloso</a></li>
											<li><a class="dropdown-item" asp-controller="Planet" asp-action="ClimateView" asp-route-nameClimate="Salvaje">Salvaje</a></li>
											<li><a class="dropdown-item" asp-controller="Planet" asp-action="ClimateView" asp-route-nameClimate="Tormenta">Tormenta</a></li>
										</ul>
									</div>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<div class="dropdown espacio2">
								<button class="botones estado dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Naves
								</button>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" asp-controller="Starship" asp-action="Index">Ver todas las naves</a></li>
									<li><a class="dropdown-item" asp-controller="Starship" asp-action="CreateOneStarship">Crea tu Nave</a></li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<div class="dropdown espacio-jedi">
								<a asp-controller="" asp-action=""><button class="botones estado espacio-jedi btn-sm">JEDI</button></a>
							</div>
						</li>

						<li class="nav-item">
							<div class="dropdown espacio-sith">
								<a asp-controller="" asp-action=""><button class="espacio-sith btn-sm boton-sith">SITH</button></a>
							</div>
						</li>

						<li class="nav-item">
							<div class="dropdown espacio-personaje">
								<a asp-controller="People" asp-action="Index"><button class="boton-sith espacio-personaje btn-sm">Crea tu personaje</button></a>
							</div>
						</li>
						<li class="nav-item">
							<div class="dropdown espacio-swapi">
								<a href="https://swapi.dev/"><button class="boton-sith espacio-swapi btn-sm">SWAPI</button></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container pie">
			STAR WARS - 2024 APLICACIÓN WEB DIDÁCTICA
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
