@model Planet

@{
	ViewData["Title"] = "Crea el planeta";
	Layout = "~/Views/Shared/_NavLayout.cshtml";
}
<body class="centrado-planet">
	<h5>Datos del planeta</h5>
	<div class="container row g-3 align-items-center" >

		<form asp-action="CreateANewPlanet" method="post">

			<div class="container">
			<label asp-for="Name" class="form-label">
				Nombre
				<input asp-for="Name" name="Name" value="" class="form-control" />
				<span>@Html.ValidationMessageFor(model=>model.Name)</span>
			</label>
			</div>
			<div class="container">
			<label asp-for="Climate" class="form-label">
				Clima
				<input type="text" name="Climate" value="" class="form-control" />
					<span>@Html.ValidationMessageFor(model => model.Climate)</span>
			</label>
			</div>
			<div class="container">
			<label asp-for="Gravity" class="form-label">
				Gravedad
				<input type="number" name="Gravity" value="" class="form-control"/>
					<span>@Html.ValidationMessageFor(model => model.Gravity)</span>
			</label>
			</div>
			<br />
			<input type="submit" value="Agregar Planeta" class="btn btn-primary"/>
			<br />
		</form>
	</div>
	<br />
	<div class="container">
		<a asp-controller="Home" asp-action="Index">Inicio</a>
		<a asp-action="Index">Volver al listado de planetas</a>
	</div>
</body>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
