@model StarWars.Models.Planet

@{
	ViewData["Title"] = "Borrar";
	Layout = "~/Views/Shared/_NavLayout.cshtml";
}
<body class="planet-delete">
	<h1>Su planeta ha sido destruido</h1>
</body>
<a asp-action="Index">Volver al listado de planetas</a>
