@model StarWars.Models.Planet
@{
	ViewData["Title"] = "Editar";
	Layout = "~/Views/Shared/_NavLayout.cshtml";
}
<h1>Editar Planeta</h1>
<body>
	<div class="container">
		<form asp-action="Edit" method="post">
			<label asp-for="Name" class="form-label">
				<strong>Nombre del planeta</strong>
				<input asp-for="Name" name="Name" value="@Model.Name" readonly class="form-control-plaintext" />
			</label>
			<br />
			<br />
			<label asp-for="Climate" class="form-label">
				<strong>Clima</strong>
				<input asp-for="Climate" name="Climate" value="@Model.Climate" />
			</label>
			<br />
			<br />
			<label asp-for="Gravity" class="form-label">
				<strong>Gravedad</strong>
				<input asp-for="Gravity" name="Gravity" value="@Model.Gravity" />
			</label>
			<br />
			<button type="button" class="boton-borrar-editar btn1 " data-bs-toggle="modal" data-bs-target="#staticBackdrop">Agregar Cambios </button>

			<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="staticBackdropLabel">Editar Planeta</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							Aceptar para editar los cambios
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
							<input type="submit" value="Aceptar" class="btn btn-info" />
						</div>
					</div>
				</div>
			</div>
		</form>

		<a asp-action="Index">Volver al listado de planetas</a>
	</div>
</body>