@model StarWars.Models.Planet

@{
	ViewData["Title"] = "Borrar";
	Layout = "~/Views/Shared/_NavLayout.cshtml";
}

<h4>El siguiente planeta va a ser borrado</h4>

<div class="container">
	<form asp-action="DeleteOnePlanet" method="post">
		<table class="table">
			 <tr>
				<div class="form-group">
					<label asp-for="Name" class="form-label">
						<strong>Nombre del planeta</strong>
					</label>
					<input type="text" asp-for="Name" value="@Model.Name" readonly class="form-control-plaintext"/>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<br />
				<div class="form-group">
					<label asp-for="Climate" class="form-label">
						<strong>Clima</strong>
					</label>
					<input asp-for="Climate" value="@Model.Climate" readonly class="form-control-plaintext"/>
					<span asp-validation-for="Climate" class="text-danger"></span>
				</div>
				<br />
				<div class="form-group">
					<label asp-for="Gravity" class="form-label">
						<strong>Gravedad</strong>
					</label>
					<input asp-for="Gravity" value="@Model.Gravity" readonly class="form-control-plaintext"/>
					<span asp-validation-for="Gravity" class="text-danger"></span>
				</div>
				<br />
			</tr> 
		</table>
		<button type="button" class="boton-borrar-editar btn2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Borrar planeta </button>

		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">El Planeta va a explotar</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						Pulsa aceptar para destruir el planeta
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
						<input type="submit" value="Aceptar" class="boton-borrar-editar btn2" />
					</div>
				</div>
			</div>
		</div>
		<div>
			<a asp-controller="Home" asp-action="Index">Volver al Inicio</a>
			<br />
			<a asp-action="Index">Volver al listado de planetas</a>
		</div>
	</form>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}