@model StarWars.Models.People

@{
    ViewData["Title"] = "Crear Personaje";
    
}

<h1>Crea tú personaje</h1>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
