@model IEnumerable<StarWars.Models.People>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NavLayout.cshtml";
}

<h1>Details</h1>
<h4>Detalles del planeta que pertenece al personaje</h4>
<div class="container">
    @foreach (var prueba in ViewBag.InfoPlanet)
    {
        <p>@prueba</p>
        
    }
</div>

<div>
     |
    <a asp-action="Index">Back to List</a>
</div>
