@model StarWars.Models.Starship

@{
	ViewData["Title"] = "Delete";
	Layout = "~/Views/Shared/_NavLayout.cshtml";
}
<body class="fondo-nave-destruida">
	<h3 class="centrado-planet rojo">Disparo acertado, nave destruida</h3>
	<a asp-action="Index">Volver</a>
</body>

