@model StarWars.Models.Starship

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_NavLayout.cshtml";
}

<body class="fondo-nave-reparada rojo">
    <h3>Nave reparada, lista para la siguiente batalla</h3>
</body>



<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
