@model StarWars.Models.Starship

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_NavLayout.cshtml";
}
<body>
	<h4>Datos de la nave a actualizar</h4>
	<form asp-action="Edit" method="post">

		<label asp-for="Name" class="form-label">
			<strong>Nombre</strong>
			<input asp-for="Name" name="Name" readonly class="form-control-plaintext"/>
		</label>
		<br />
		<label asp-for="Model" class="form-label">
			<strong>Modelo</strong>
			<input asp-for="Model" name="Model"  class="form-control" value="@Model.Model"/>
		</label>
		<br />
		<label asp-for="Longitude" class="form-label">
			<strong>Longitud</strong>
			<input asp-for="Longitude" name="Longitude"  class="form-control"value="@Model.Longitude" />
		</label>
		<br />
		<label asp-for="MaxPassengers" class="form-label">
			<strong>Pasajeros</strong>
			<input asp-for="MaxPassengers" name="MaxPassengers"  class="form-control" value="@Model.MaxPassengers" />
		</label>
		<br />
		<label asp-for="Armament" class="form-label">
			<strong>Arma</strong>
			<input asp-for="Armament" name="Armament" class="form-control" value="@Model.Armament" />
		</label>
		<br />
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Editar Nave </button>

		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">Reparando Nave</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						Pulsa aceptar y R2D2 junto con C3PO repararan tu nave
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
						<input type="submit" value="Aceptar" class="btn btn-danger" />
					</div>
				</div>
			</div>
		</div>
	</form>
</body>