@{
    ViewData["Title"] = "Bienvenido";
}

<div class="text-center">
    <h1 class="display-4 centrado">Universo Star Wars</h1>

    <div class="centrado">
        Bienvenidos a la web del universo StarWars, creada con un fin autodidácta<br />
        en ella podremos encontrar diversas opciones como la creación de <br />
        Naves,Planetas,Personajes ... listado de todos los Sith o qué planetas tienen un clima determinado.<br />
        <br />
        <br />
        Además de todo, la web está conectada a una <strong>API</strong> donde podremos realizar consultas<br />
        como listar los personajes de las peliculas con todos sus detalles: vehículos,naves ...<br />
        Esto no ha hecho nada más que empezar .... <br />¡QUÉ LA PACIENCIA TE ACOMPAÑE!
    </div>
</div>
