@model IEnumerable<StarWars.Client.Character>

@{
	Layout = null;
	
}
<body>
	<h2>TODOS los personajes de la API:</h2>
	<h6>PELICULAS</h6>
	<form method="get" asp-action="GetAllFilmsAPI">
		<a asp-action="GetAllFilmsAPI">Ir a todas las peliculas</a>
	</form>

	<form method="get" class="d-flex" role="search" asp-action="SearchCharacterByName">
		<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="name">
		<button class="btn btn-outline-success" type="submit">Search</button>
	</form>
	@foreach(var c in Model)
	{
		<p>@c.Name</p>
	}
	
</body>