 @model IEnumerable<StarWars.Client.Film>
@{
	Layout = null;
}
<body>
	@foreach (var i in Model)
	{

		<p>Episodio: @i.Episode_Id</p>
		<p>Titulo: @i.Title</p>
		<p>Opening: @i.Opening_Crawl</p>
		<p>URL : @i.Url</p>
	}
</body> 