@model StarWars.Client.PlanetAPI
@{
	Layout = null;
}
<body>
	<h1>Información del planeta extraída de la API</h1>

	<p>Nombre: <strong>@Model.Name</strong></p>
	<p>Clima: <strong>@Model.Climate</strong></p>
	<p>Gravedad: <strong>@Model.Gravity</strong></p>
	<p>Terreno: <strong>@Model.Terrain</strong></p>
</body>
