@model StarWars.ViewModel.SwapiViewModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>StarWars - SWAPI</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/StarWars.styles.css" asp-append-version="true" />
	<link href="~/lib/bootstrap/dis/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/apiPage.css" asp-append-version="true" />
	<link href="c:\users\jesús\source\repos\starwars\wwwroot\lib\bootstrap\dist\css\bootstrap.rtl.min.css" rel="stylesheet" />
	<link href="c:\users\jesús\source\repos\starwars\wwwroot\lib\bootstrap\dist\css\bootstrap.rtl.css" rel="stylesheet" />
	<link href="https://fonts.cdnfonts.com/css/star-wars" rel="stylesheet">

</head>
<body class="end">
	<h2 class="balanced container text-character">CHARACTERS</h2>
	<br />

	<nav class="navbar balanced container ">
		<form method="get" class="d-flex" role="search" asp-action="GetGenericView">
			<input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search" name="name">
			<button class="btn btn-outline-success" type="submit">
				<i class="bi bi-search">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
						<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
					</svg>
				</i>
			</button>
		</form>
	</nav>

	<div class="containter text-center ">
		<div class="row">
			<div class="container col-sm-2 film-prueba">
				@foreach (var i in Model.ListCharacterImageJson)
				{
					<form method="get" asp-action="GetGenericView" asp-route-name="name" asp-route-image="image">
						<img src="@i.ImageUrl" class="mod-img" />
						<input type="hidden" name="image" value="@i.ImageUrl" />
						<input type="submit" name="name" value="@i.NameJson" class="boton-name" />
					</form>
				}
			</div>
		</div>
	</div>
</body>
</html>