html{
    width:100%;
}
body{
    width:100%;
    height:100%;
}
:root {
    --main: #ffb13a;
    --font: 'Roboto','Oxygen',sans-serif;
    --naranja: #fd7e14;
    --cyan: #0dcaf0;
}

.text-character {
    font-family: 'Star Wars', sans-serif;
    color: var(--main);
    letter-spacing: 1.2px;
    
}

.balanced {
    position:relative;
    left:500px;
    justify-items: center;
    justify-self: center;
}

.prueba{
    display:inline-flex;
}
#container {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    margin-left: 400px;
    margin-right: 400px;
    text-align:center;
}
.film-prueba {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
button{
    border:none;
    background-color:white;
    text-align:center;
    justify-content:center;
    justify-items:center;
}

.elemento {
    margin:10px;
    width: 200px;
    border: 5px solid red;

}
.mod-img {
    position: page;
    width:100%;
    height: 164px;

}
.boton-name {
    /*Centrar el contenido para que todos sean iguales*/ 
    text-align:center;
    padding: 10px 20px;
    margin:10px;
    /*display:flex;*/
    justify-content: center; 
    align-items:center;
    place-items:center;
}

.end {
    background-color: #280939c6;
    /*#52246bec*/ /*#5f2d79*/ /*#692d7a*/
    /*#60277bf4*/ /*#340b38bc*/
}
.prueba{
    width:150px;
    height:50px;
    background-image:url(../images/ANewHope.jpg);
    background-size:cover;
    border:none;
    color:white;
    text-align:center;
}
.content-right {
    display: inline-block;
    align-items: center;
}
.centrado {
    font-family: var(--font);
    font-size: 13px;
    text-align: center;
    text-justify: auto;
    letter-spacing: 1.8px;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    color: var(--main);
    transform: perspective(280px) rotateX(21deg);
}
.color-credits {
    font-family: var(--font);
    font-size: 14px;
    letter-spacing: 1.0px;
    color: var(--main);
    transform: perspective(280px) rotateX(21deg);
}
.fondo-pantalla {
    background-image: url(../images/fondo2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}